// COLOR VARIABLES
$color-grey: rgba(17, 72, 197, 0.03);
$color-blue: #1148c5;
$color-dark-grey: #475569;

// FONT VARIABLES
$font-primary: "Inter", sans-serif;

$content-width: 1160px;
$tablet-width: 768px;
$mobile-width: 420px;
