.projects {
  padding: 20px 0 20px 0;
}

.projects__wrapper {
  // display: grid;
  // grid-template-columns: 300px 1fr;
  // column-gap: 40px;
  // row-gap: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__heading {
  margin-left: 340px;
  margin-bottom: 20px;

  @media (max-width: 876px) {
    margin-left: 0;
  }
}

.projects__list-item {
  flex-basis: 50%;
  flex-grow: 1;

  @media (max-width: 876px) {
    flex-basis: 70%;
    flex-grow: 0;
  }
}

.projects__list {
  list-style: none;

  @media (max-width: 660px) {
    display: block;
  }
}

.projects__list-item:nth-child(2) {
  margin-bottom: 30px;
}

.projects__photo {
  width: 100%;
}

.projects__date {
  margin-top: 10px;
  color: $color-dark-grey;

  width: 340px;

  @media (max-width: 876px) {
    width: auto;
    flex-basis: 26.786%;
  }
}

.projects__title {
  margin-bottom: 10px;
}

.projects__description {
  margin-bottom: 10px;
}

.projects__tech {
  margin-bottom: 10px;
}

// @media (max-width: 1024px) {
//   .projects {
//     padding: 20px;
//   }

//   .projects__wrapper {
//     grid-template-columns: 300px 620px;
//     column-gap: 20px;
//     row-gap: 20px;
//   }

//   .projects__photo {
//     width: 620px;
//   }

//   .projects__heading {
//     margin-left: 320px;
//   }
// }

// @media (max-width: 768px) {
//   .projects {
//     padding: 20px;
//   }

//   .projects__wrapper {
//     display: block;
//   }

//   .projects__photo {
//     width: 740px;
//     margin-bottom: 20px;
//   }

//   .projects__date {
//     margin-bottom: 10px;
//   }

//   .projects__heading {
//     margin-left: 0px;
//   }
// }
